* {
  animation: fadeInAnimation ease 0.3s;
  animation-fill-mode: forwards;
  font-family: headingFont;
}

body, html {
  height: 100%;
  margin: 0px;
  background-size: 400%;
  box-sizing: border-box;
  background-image: url(../public/background.jpeg);
  background-size: cover;
  background-repeat: repeat-y;
}

@font-face {
  font-family: headingFont;
  src: url(../public/univeralFont.ttf);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.toast-top-center {
  top: 20px !important;
}

.toast-success {
  margin-top: 10px;
  background-color: #5cb85c;
}

.toast-error {
  margin-top: 10px;
  background-color: #d9534f;
}

.main_container {
  width: 55%;
  margin: 30px auto;
  margin-bottom: 40px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}