
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Per_heading {
    font-family: headingFont;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    color: #0f0e0e;
    padding-top: 20px;
}

.Per_container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
}


.Per_sub_container {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-column-gap: 10px;
    height: auto;
}


.Per_input {
    border-radius: 5px;
    outline: none;
    border: none;
    height: 54px;
    width: 360px;
    padding-left: 12px;
    margin: 17px 12px;
    align-items: center;
    background-color: rgb(235, 235, 235);
    font-family: headingFont;
    font-size: 16px;
    color: #1d1d1d;
}

#Per_textarea {
    margin-left: 5px;
    margin-bottom: 10px;
    outline: none;
    padding: 5px 5px;
    overflow: auto;
    resize: vertical;
    height: auto;
    background-color: rgb(235, 235, 235);
    font-family: headingFont;
    font-size: 16px;
    color: #1d1d1d;
}

.Per_textarea {
    grid-column: 1/ span 2;
}

.Per_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: 20px 0px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.Per_nextBtn {
    font-family: headingFont;
    width: 300px;
    height: 60px;
    font-size: 100px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: rgb(106 89 133);
    color: #080808;
}

.Per_nextBtn:hover {
    background-color: rgb(77, 52, 117);
    transform: translateY(-2px);
    cursor: pointer;
}

.Per_nextBtn.disabled {
    background-color: gray;  
    cursor: not-allowed;
    opacity: 0.5;
}
.Per_input.error {
    border: 2px solid red;
  }
  
  .Per_input.error::placeholder {
    color: red;
  }
  
  .Per_textarea.error {
    border: 2px solid red;
  }
  
  .Per_textarea.error::placeholder {
    color: red;
  }

  

@media screen and (min-width:650px) and (max-width:790px) {

    .Per_container {
        display: flex;
        align-items: center;
        width: 660px;
        margin: auto;
        justify-content: center;
    }

    .Per_heading {
        font-family: headingFont;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 500;
        margin-top: 10px;
        height: auto;
        width: auto;
    }

    .Per_sub_container {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-column-gap: 70px;
        width: 650px;
        height: auto;
    }

    .Per_input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 292px;
        padding-left: 15px;
        margin: 13px 14px;
        align-items: center;
        background-color: white;
    }

    #Per_textarea {
        margin-left: 14px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: vertical;
        height: auto;
        width: 610px;
        background-color: white;
    }

    .Per_nextBtn {
        width: 160px;
        height: 60px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        background-color: #1a91f0;
    }

    .Per_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        width: 650px;
    }

}


@media screen and (min-width:550px) and (max-width:650px) {

    .Per_container {
        display: flex;
        align-items: center;
        width: 550px;
        margin: auto;
        justify-content: center;
    }

    .Per_heading {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 500;
        margin-top: 8px;
        height: auto;
        width: auto;
    }

    .Per_sub_container {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-column-gap: 25px;
        width: 550px;
        height: auto;
    }

    .Per_input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 242px;
        padding-left: 15px;
        margin: 13px 14px;
        align-items: center;
        background-color: white;
    }

    #Per_textarea {
        margin-left: 14px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: vertical;
        height: auto;
        width: 519px;
        background-color: white;
    }

    .Per_nextBtn {
        width: 160px;
        height: 60px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        background-color: #1a91f0;
    }

    .Per_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        width: 550px;
    }
}


@media screen and (min-width:400px) and (max-width:550px) {

    .Per_container {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
    }

    .Per_heading {
        display: flex;
        justify-content: center;
        font-size: 35px;
        font-weight: 500;
        margin-top: 8px;
        height: auto;
        width: auto;
    }

    .Per_sub_container {
        display: flex;
        flex-wrap: wrap;
        width: 412px;
        height: auto;
    }

    .Per_input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 48px;
        width: 359px;
        padding-left: 15px;
        margin: 13px 26px;
        align-items: center;
        background-color: white;
    }

    #Per_textarea {
        margin-left: 26px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: vertical;
        height: auto;
        width: 360px;
        background-color: white;
    }

    .Per_nextBtn {
        width: 160px;
        height: 60px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        background-color: #1a91f0;
    }

    .Per_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: auto;
        margin-top: 10px;
    }

}

@media screen and (min-width:350px) and (max-width:400px) {

    .Per_container {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
    }

    .Per_heading {
        display: flex;
        justify-content: center;
        font-size: 27px;
        font-weight: 500;
        margin-top: 5px;
        height: auto;
        width: auto;
    }

    .Per_sub_container {
        display: flex;
        flex-wrap: wrap;
        width: 365px;
        height: auto;
        margin: auto;
    }

    .Per_input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 306px;
        padding-left: 15px;
        margin: 13px 23px;
        align-items: center;
        background-color: white;
    }

    #Per_textarea {
        margin-left: 26px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: vertical;
        height: auto;
        width: 302px;
        background-color: white;
    }

    .Per_nextBtn {
        width: 130px;
        height: 45px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        margin-bottom: 10px;
        background-color: #1a91f0;
    }

    .Per_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        width: auto;
    }

}


@media screen and (min-width:280px) and (max-width:350px) {

    .Per_container {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
    }

    .Per_heading {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        margin-top: 5px;
        height: auto;
        width: auto;
    }

    .Per_sub_container {
        display: flex;
        flex-wrap: wrap;
        width: 292px;
        height: auto;
        margin: auto;
    }

    .Per_input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 269px;
        padding-left: 15px;
        margin: 13px 12px;
        align-items: center;
        background-color: white;
    }

    #Per_textarea {
        margin-left: 12px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: vertical;
        height: auto;
        width: 269px;
        background-color: white;
    }

    .Per_nextBtn {
        width: 130px;
        height: 45px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        margin-bottom: 10px;
        background-color: #1a91f0;
    }

    .Per_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        width: auto;
    }
    small {
        position: relative;
        top: -7px;
        left: 0px;
    }
}


@media screen and (max-width:280px) {

    .Per_container {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
        margin: 0px 0px 0px 5px;
    }

    .Per_heading {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        margin-top: 4px;
        height: auto;
        width: auto;
    }

    .Per_sub_container {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin: auto;
    }

    .Per_input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 36px;
        width: 241px;
        padding-left: 15px;
        margin: 8px 20px;
        align-items: center;
        background-color: white;
    }

    #Per_textarea {
        margin-left: 21px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: vertical;
        height: auto;
        width: 240px;
        background-color: white;
    }

    .Per_nextBtn {
        width: 130px;
        height: 45px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        margin-bottom: 10px;
        background-color: #1a91f0;
    }

    .Per_btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        width: auto;
    }

}